# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/
my_enev1/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Static files (collected)
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Coverage / Testing
.coverage
htmlcov/
.pytest_cache/

# Migrations (optional – if skeleton project)
# **/migrations/
!**/migrations/__init__.py

# Secrets
*.pem
*.key

# Temporary files
*.swp
*.tmp